msv/src/test/resources/multireference.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions name="Array" targetNamespace="urn:Array" xmlns:ns1="http://schemas.xmlsoap.org/wsdl/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="urn:Array" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xsd:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="urn:beanz" xmlns:ns0="http://cxf.apache.org/aegisTypes" xmlns:ns1="urn:Array" xmlns:tns="urn:beanz" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<xsd:import namespace="http://cxf.apache.org/aegisTypes"/>
<xsd:import namespace="urn:Array"/>
<xsd:complexType name="SimpleBean">
<xsd:sequence>
<xsd:element minOccurs="0" name="bigByte" nillable="true" type="xsd:byte"/>
<xsd:element minOccurs="0" name="bleh" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="character" nillable="true" type="ns0:char"/>
<xsd:element minOccurs="0" name="defaultSchemaNumbers" nillable="true" type="ns1:ArrayOfInt"/>
<xsd:element minOccurs="0" name="howdy" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="littleByte" type="xsd:byte"/>
<xsd:element name="numbers" type="ns1:ArrayOfInt-2-50"/>
<xsd:element minOccurs="0" name="primitiveChar" type="ns0:char"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="ArrayOfSimpleBean">
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="SimpleBean" nillable="true" type="tns:SimpleBean"/>
</xsd:sequence>
</xsd:complexType>
</xsd:schema>
<xsd:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="urn:Array" xmlns:ns0="urn:beanz" xmlns:tns="urn:Array" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<xsd:import namespace="urn:beanz"/>
<xsd:complexType name="ArrayOfInt">
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="int" type="xsd:int"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="ArrayOfAnyType">
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="anyType" nillable="true" type="xsd:anyType"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="ArrayOfString">
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="string" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="ArrayOfString-2-50">
<xsd:sequence>
<xsd:element maxOccurs="50" minOccurs="2" name="string" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="ArrayOfInt-2-50">
<xsd:sequence>
<xsd:element maxOccurs="50" minOccurs="2" name="int" type="xsd:int"/>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="submitJDOMArray" type="tns:submitJDOMArray"/>
<xsd:complexType name="submitJDOMArray">
<xsd:sequence>
<xsd:element minOccurs="0" name="before" nillable="true" type="xsd:string"/>
<xsd:element name="anything" nillable="true" type="tns:ArrayOfAnyType"/>
<xsd:element minOccurs="0" name="after" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="submitJDOMArrayResponse" type="tns:submitJDOMArrayResponse"/>
<xsd:complexType name="submitJDOMArrayResponse">
<xsd:sequence/>
</xsd:complexType>
<xsd:element name="getBeanArray" type="tns:getBeanArray"/>
<xsd:complexType name="getBeanArray">
<xsd:sequence/>
</xsd:complexType>
<xsd:element name="getBeanArrayResponse" type="tns:getBeanArrayResponse"/>
<xsd:complexType name="getBeanArrayResponse">
<xsd:sequence>
<xsd:element name="return" nillable="true" type="ns0:ArrayOfSimpleBean"/>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="submitBeanArray" type="tns:submitBeanArray"/>
<xsd:complexType name="submitBeanArray">
<xsd:sequence>
<xsd:element name="array" nillable="true" type="ns0:ArrayOfSimpleBean"/>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="submitBeanArrayResponse" type="tns:submitBeanArrayResponse"/>
<xsd:complexType name="submitBeanArrayResponse">
<xsd:sequence>
<xsd:element name="return" type="xsd:boolean"/>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="getAfterValue" type="tns:getAfterValue"/>
<xsd:complexType name="getAfterValue">
<xsd:sequence/>
</xsd:complexType>
<xsd:element name="getAfterValueResponse" type="tns:getAfterValueResponse"/>
<xsd:complexType name="getAfterValueResponse">
<xsd:sequence>
<xsd:element minOccurs="0" name="return" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="submitStringArray" type="tns:submitStringArray"/>
<xsd:complexType name="submitStringArray">
<xsd:sequence>
<xsd:element maxOccurs="50" minOccurs="2" name="array" nillable="true" type="tns:ArrayOfString-2-50"/>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="submitStringArrayResponse" type="tns:submitStringArrayResponse"/>
<xsd:complexType name="submitStringArrayResponse">
<xsd:sequence>
<xsd:element name="return" type="xsd:boolean"/>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="resetValues" type="tns:resetValues"/>
<xsd:complexType name="resetValues">
<xsd:sequence/>
</xsd:complexType>
<xsd:element name="resetValuesResponse" type="tns:resetValuesResponse"/>
<xsd:complexType name="resetValuesResponse">
<xsd:sequence/>
</xsd:complexType>
<xsd:element name="getJdomArray" type="tns:getJdomArray"/>
<xsd:complexType name="getJdomArray">
<xsd:sequence/>
</xsd:complexType>
<xsd:element name="getJdomArrayResponse" type="tns:getJdomArrayResponse"/>
<xsd:complexType name="getJdomArrayResponse">
<xsd:sequence>
<xsd:element name="return" nillable="true" type="tns:ArrayOfAnyType"/>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="getStringArray" type="tns:getStringArray"/>
<xsd:complexType name="getStringArray">
<xsd:sequence/>
</xsd:complexType>
<xsd:element name="getStringArrayResponse" type="tns:getStringArrayResponse"/>
<xsd:complexType name="getStringArrayResponse">
<xsd:sequence>
<xsd:element name="return" nillable="true" type="tns:ArrayOfString"/>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="takeOneSimpleBean" type="tns:takeOneSimpleBean"/>
<xsd:complexType name="takeOneSimpleBean">
<xsd:sequence>
<xsd:element minOccurs="0" name="sb" nillable="true" type="ns0:SimpleBean"/>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="takeOneSimpleBeanResponse" type="tns:takeOneSimpleBeanResponse"/>
<xsd:complexType name="takeOneSimpleBeanResponse">
<xsd:sequence/>
</xsd:complexType>
<xsd:element name="getBeforeValue" type="tns:getBeforeValue"/>
<xsd:complexType name="getBeforeValue">
<xsd:sequence/>
</xsd:complexType>
<xsd:element name="getBeforeValueResponse" type="tns:getBeforeValueResponse"/>
<xsd:complexType name="getBeforeValueResponse">
<xsd:sequence>
<xsd:element minOccurs="0" name="return" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="submitW3CArray" type="tns:submitW3CArray"/>
<xsd:complexType name="submitW3CArray">
<xsd:sequence>
<xsd:element minOccurs="0" name="before" nillable="true" type="xsd:string"/>
<xsd:element name="anything" nillable="true" type="tns:ArrayOfAnyType"/>
<xsd:element minOccurs="0" name="after" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="submitW3CArrayResponse" type="tns:submitW3CArrayResponse"/>
<xsd:complexType name="submitW3CArrayResponse">
<xsd:sequence/>
</xsd:complexType>
<xsd:element name="getW3cArray" type="tns:getW3cArray"/>
<xsd:complexType name="getW3cArray">
<xsd:sequence/>
</xsd:complexType>
<xsd:element name="getW3cArrayResponse" type="tns:getW3cArrayResponse"/>
<xsd:complexType name="getW3cArrayResponse">
<xsd:sequence>
<xsd:element name="return" nillable="true" type="tns:ArrayOfAnyType"/>
</xsd:sequence>
</xsd:complexType>
</xsd:schema>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://cxf.apache.org/aegisTypes" xmlns:aegisTypes="http://cxf.apache.org/aegisTypes" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:simpleType name="char">
<xs:restriction base="xs:short">
<xs:minInclusive value="0"/>
</xs:restriction>
</xs:simpleType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="getW3cArray">
    <wsdl:part element="tns:getW3cArray" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAfterValueResponse">
    <wsdl:part element="tns:getAfterValueResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="submitJDOMArray">
    <wsdl:part element="tns:submitJDOMArray" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="takeOneSimpleBeanResponse">
    <wsdl:part element="tns:takeOneSimpleBeanResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getStringArrayResponse">
    <wsdl:part element="tns:getStringArrayResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getBeanArray">
    <wsdl:part element="tns:getBeanArray" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="submitStringArray">
    <wsdl:part element="tns:submitStringArray" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="submitW3CArray">
    <wsdl:part element="tns:submitW3CArray" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAfterValue">
    <wsdl:part element="tns:getAfterValue" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getJdomArray">
    <wsdl:part element="tns:getJdomArray" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getBeanArrayResponse">
    <wsdl:part element="tns:getBeanArrayResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getW3cArrayResponse">
    <wsdl:part element="tns:getW3cArrayResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="submitBeanArrayResponse">
    <wsdl:part element="tns:submitBeanArrayResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="resetValuesResponse">
    <wsdl:part element="tns:resetValuesResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="submitW3CArrayResponse">
    <wsdl:part element="tns:submitW3CArrayResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getJdomArrayResponse">
    <wsdl:part element="tns:getJdomArrayResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="submitStringArrayResponse">
    <wsdl:part element="tns:submitStringArrayResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getBeforeValueResponse">
    <wsdl:part element="tns:getBeforeValueResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="submitJDOMArrayResponse">
    <wsdl:part element="tns:submitJDOMArrayResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="resetValues">
    <wsdl:part element="tns:resetValues" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getBeforeValue">
    <wsdl:part element="tns:getBeforeValue" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="takeOneSimpleBean">
    <wsdl:part element="tns:takeOneSimpleBean" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getStringArray">
    <wsdl:part element="tns:getStringArray" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="submitBeanArray">
    <wsdl:part element="tns:submitBeanArray" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ArrayServicePortType">
    <wsdl:operation name="submitJDOMArray">
      <wsdl:input message="tns:submitJDOMArray" name="submitJDOMArray">
    </wsdl:input>
      <wsdl:output message="tns:submitJDOMArrayResponse" name="submitJDOMArrayResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBeanArray">
      <wsdl:input message="tns:getBeanArray" name="getBeanArray">
    </wsdl:input>
      <wsdl:output message="tns:getBeanArrayResponse" name="getBeanArrayResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="submitBeanArray">
      <wsdl:input message="tns:submitBeanArray" name="submitBeanArray">
    </wsdl:input>
      <wsdl:output message="tns:submitBeanArrayResponse" name="submitBeanArrayResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAfterValue">
      <wsdl:input message="tns:getAfterValue" name="getAfterValue">
    </wsdl:input>
      <wsdl:output message="tns:getAfterValueResponse" name="getAfterValueResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="submitStringArray">
      <wsdl:input message="tns:submitStringArray" name="submitStringArray">
    </wsdl:input>
      <wsdl:output message="tns:submitStringArrayResponse" name="submitStringArrayResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="resetValues">
      <wsdl:input message="tns:resetValues" name="resetValues">
    </wsdl:input>
      <wsdl:output message="tns:resetValuesResponse" name="resetValuesResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getJdomArray">
      <wsdl:input message="tns:getJdomArray" name="getJdomArray">
    </wsdl:input>
      <wsdl:output message="tns:getJdomArrayResponse" name="getJdomArrayResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getStringArray">
      <wsdl:input message="tns:getStringArray" name="getStringArray">
    </wsdl:input>
      <wsdl:output message="tns:getStringArrayResponse" name="getStringArrayResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="takeOneSimpleBean">
      <wsdl:input message="tns:takeOneSimpleBean" name="takeOneSimpleBean">
    </wsdl:input>
      <wsdl:output message="tns:takeOneSimpleBeanResponse" name="takeOneSimpleBeanResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBeforeValue">
      <wsdl:input message="tns:getBeforeValue" name="getBeforeValue">
    </wsdl:input>
      <wsdl:output message="tns:getBeforeValueResponse" name="getBeforeValueResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="submitW3CArray">
      <wsdl:input message="tns:submitW3CArray" name="submitW3CArray">
    </wsdl:input>
      <wsdl:output message="tns:submitW3CArrayResponse" name="submitW3CArrayResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getW3cArray">
      <wsdl:input message="tns:getW3cArray" name="getW3cArray">
    </wsdl:input>
      <wsdl:output message="tns:getW3cArrayResponse" name="getW3cArrayResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ArraySoapBinding" type="tns:ArrayServicePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="submitJDOMArray">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="submitJDOMArray">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="submitJDOMArrayResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBeanArray">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getBeanArray">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getBeanArrayResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="submitBeanArray">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="submitBeanArray">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="submitBeanArrayResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAfterValue">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getAfterValue">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getAfterValueResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="resetValues">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="resetValues">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="resetValuesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="submitStringArray">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="submitStringArray">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="submitStringArrayResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getJdomArray">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getJdomArray">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getJdomArrayResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getStringArray">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getStringArray">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getStringArrayResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBeforeValue">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getBeforeValue">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getBeforeValueResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="takeOneSimpleBean">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="takeOneSimpleBean">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="takeOneSimpleBeanResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="submitW3CArray">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="submitW3CArray">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="submitW3CArrayResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getW3cArray">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getW3cArray">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getW3cArrayResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Array">
    <wsdl:port binding="tns:ArraySoapBinding" name="ArrayServicePort">
      <soap:address location="http://localhost:9167/Array"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>