msv/src/test/java/com/sun/msv/reader/xmlschema/test.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:ns1="http://schemas.xmlsoap.org/soap/http" 
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
                  xmlns:tns="http://fortest.javascript.cxf.apache.org/" 
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
                  name="AegisService" 
                  targetNamespace="http://fortest.javascript.cxf.apache.org/">
  <wsdl:types>
    <xsd:schema xmlns:ns0="http://aegis.fortest.javascript.cxf.apache.org" xmlns:ns1="http://cxf.apache.org/arrays" xmlns:tns="http://fortest.javascript.cxf.apache.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://fortest.javascript.cxf.apache.org/">
      <xsd:import namespace="http://aegis.fortest.javascript.cxf.apache.org"/>
      <xsd:import namespace="http://cxf.apache.org/arrays"/>
      <xsd:complexType name="ArrayOfAnyType">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="anyType" nillable="true" type="xsd:anyType"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfString">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="string" nillable="true" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="acceptStrings" type="tns:acceptStrings"/>
      <xsd:complexType name="acceptStrings">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="anything" nillable="true" type="tns:ArrayOfString"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="acceptStringsResponse" type="tns:acceptStringsResponse"/>
      <xsd:complexType name="acceptStringsResponse">
        <xsd:sequence/>
      </xsd:complexType>
      <xsd:element name="returnBeanWithAnyTypeArray" type="tns:returnBeanWithAnyTypeArray"/>
      <xsd:complexType name="returnBeanWithAnyTypeArray">
        <xsd:sequence/>
      </xsd:complexType>
      <xsd:element name="returnBeanWithAnyTypeArrayResponse" type="tns:returnBeanWithAnyTypeArrayResponse"/>
      <xsd:complexType name="returnBeanWithAnyTypeArrayResponse">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="return" nillable="true" type="ns0:BeanWithAnyTypeArray"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="acceptAny" type="tns:acceptAny"/>
      <xsd:complexType name="acceptAny">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="before" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="anything" nillable="true" type="tns:ArrayOfAnyType"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="acceptAnyResponse" type="tns:acceptAnyResponse"/>
      <xsd:complexType name="acceptAnyResponse">
        <xsd:sequence/>
      </xsd:complexType>
      <xsd:element name="acceptObjects" type="tns:acceptObjects"/>
      <xsd:complexType name="acceptObjects">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="anything" nillable="true" type="ns1:ArrayOfAnyType"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="acceptObjectsResponse" type="tns:acceptObjectsResponse"/>
      <xsd:complexType name="acceptObjectsResponse">
        <xsd:sequence/>
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema xmlns:ns0="http://cxf.apache.org/arrays" xmlns:tns="http://aegis.fortest.javascript.cxf.apache.org" xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://aegis.fortest.javascript.cxf.apache.org">
      <xsd:import namespace="http://cxf.apache.org/arrays"/>
      <xsd:complexType name="Mammal">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="name" nillable="true" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="BeanWithAnyTypeArray">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="objects" nillable="true" type="ns0:ArrayOfAnyType"/>
          <xsd:element minOccurs="0" name="string" nillable="true" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema xmlns:tns="http://cxf.apache.org/arrays" xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://cxf.apache.org/arrays">
      <xsd:complexType name="ArrayOfAnyType">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="anyType" nillable="true" type="xsd:anyType"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="acceptStringsResponse">
    <wsdl:part element="tns:acceptStringsResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="acceptStrings">
    <wsdl:part element="tns:acceptStrings" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="acceptAnyResponse">
    <wsdl:part element="tns:acceptAnyResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="acceptObjects">
    <wsdl:part element="tns:acceptObjects" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="returnBeanWithAnyTypeArrayResponse">
    <wsdl:part element="tns:returnBeanWithAnyTypeArrayResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="acceptObjectsResponse">
    <wsdl:part element="tns:acceptObjectsResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="acceptAny">
    <wsdl:part element="tns:acceptAny" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="returnBeanWithAnyTypeArray">
    <wsdl:part element="tns:returnBeanWithAnyTypeArray" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="AegisServicePortType">
    <wsdl:operation name="acceptStrings">
      <wsdl:input message="tns:acceptStrings" name="acceptStrings">
    </wsdl:input>
      <wsdl:output message="tns:acceptStringsResponse" name="acceptStringsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="returnBeanWithAnyTypeArray">
      <wsdl:input message="tns:returnBeanWithAnyTypeArray" name="returnBeanWithAnyTypeArray">
    </wsdl:input>
      <wsdl:output message="tns:returnBeanWithAnyTypeArrayResponse" name="returnBeanWithAnyTypeArrayResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="acceptAny">
      <wsdl:input message="tns:acceptAny" name="acceptAny">
    </wsdl:input>
      <wsdl:output message="tns:acceptAnyResponse" name="acceptAnyResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="acceptObjects">
      <wsdl:input message="tns:acceptObjects" name="acceptObjects">
    </wsdl:input>
      <wsdl:output message="tns:acceptObjectsResponse" name="acceptObjectsResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AegisServiceSoapBinding" type="tns:AegisServicePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="acceptStrings">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="acceptStrings">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="acceptStringsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="returnBeanWithAnyTypeArray">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="returnBeanWithAnyTypeArray">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="returnBeanWithAnyTypeArrayResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="acceptAny">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="acceptAny">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="acceptAnyResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="acceptObjects">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="acceptObjects">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="acceptObjectsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AegisService">
    <wsdl:port binding="tns:AegisServiceSoapBinding" name="AegisServicePort">
      <soap:address location="http://localhost:8808/aegis"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
